# ticdat==0.2.22
# pandas==2.0.3
# plotly==5.16.1
# openpyxl==3.1.2
# PuLP==2.8.0
et-xmlfile==1.1.0
gurobipy==11.0.3
numpy==1.26.4
openpyxl==3.1.2
packaging==24.1
pandas==2.0.3
plotly==5.16.1
PuLP==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tenacity==9.0.0
ticdat==0.2.24
tzdata==2024.1